{% extends "leads/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Set New Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
        <div class="mb-3">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Set Password</button>
    </form>
</div>
{% endblock %} 